.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 5vw;
    position: relative;
}

.square__available-destination {
    position: absolute;
    opacity: 0.7;
    z-index: 0;
}

.square__piece {
    position: absolute;
    z-index: 1;
}